[submodule "Suppl-AI"]
	path = Suppl-AI
	url = https://github.com/CodeHex16/Suppl-AI.git
[submodule "Database-API"]
	path = Database-API
	url = https://github.com/CodeHex16/Database-API.git
[submodule "LLM-API"]
	path = LLM-API
	url = https://github.com/CodeHex16/LLM-API.git
